[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican-sitemap = "*"
rich = "*"
typing-extensions = "*"
markdown = "*"
pelican = "*"
ghp-import = "*"

[dev-packages]

[requires]
python_version = "3.13"
