{% extends "base.html" %}

{% block meta_description %}Archives - Running and fitness articles from Glen Striders club serving Glen-View, Budiriro, Glen Norah, High Glen, Harare{% endblock %}
{% block meta_keywords %}running club archives Harare, fitness articles Glen-View, jogging news Budiriro, running Glen Norah, fitness High Glen{% endblock %}

{% block hero %}{% endblock %}
{% block home_sections %}{% endblock %}

{% block content %}
    <section id="content" class="body">
        <h1>Archives for {{ SITENAME }}</h1>

        <dl>
            {% for article in dates %}
                <dt>{{ article.locale_date }}</dt>
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
            {% endfor %}
        </dl>
    </section>
{% endblock %}
