{% extends "base.html" %}

{% block meta_description %}Archives - Glen Striders Running Club articles and updates from Glen-View, Harare, Zimbabwe{% endblock %}
{% block meta_keywords %}Glen Striders Archives, Running Club Glen-View, Harare Zimbabwe Running Club{% endblock %}

{% block hero %}{% endblock %}
{% block home_sections %}{% endblock %}

{% block content %}
    <section id="content" class="body">
        <h1>Archives for {{ SITENAME }}</h1>

        <dl>
            {% for article in dates %}
                <dt>{{ article.locale_date }}</dt>
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
            {% endfor %}
        </dl>
    </section>
{% endblock %}
