{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block meta_description %}{{ page.title|striptags }} - Glen Striders Running Club, Glen-View, Harare, Zimbabwe{% endblock %}
{% block meta_keywords %}Glen Striders, Running Club Glen-View, Harare Zimbabwe Running, Glen-View Running Club{% endblock %}

{% block extra_head %}
  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block hero %}{% endblock %}
{% block home_sections %}{% endblock %}

{% block content %}
  <section id="content" class="body">
    <h1 class="entry-title">{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {{ page.content }}
  </section>
{% endblock %}
