<!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature buibui-bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Web Applications</h2>
                        <p></p>
                        <a class="text-decoration-none" href="#!"></a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature buibui-bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Custom Python Development</h2>
                        <p></p>
                        <a class="text-decoration-none" href="#!"></a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature buibui-bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Python Api Development</h2>
                        <p>Boost your iOS and Android projects with simple and high-performance integrations or increase the value of your enterprise back end systems with CRMs and ERPs to allow you to better understand the data your users provide. Our Python development services go beyond simple front ends, including sophisticated APIs that you can either use to drive decisions in your business or offer up to customers to support their own integrations.</p>
                        <a class="text-decoration-none" href="#!"></a>
                    </div>
                </div>
            </div>
        </section>
